@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
}

/* Home Banner */

.home-banner {
  width: 100%;
  height: auto;
  background-image: url("../images/business-sector/banner-bag-bg.webp");
  background-color: black;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading h2 {
  text-align: center;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 10%;

  color: transparent;

  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.banner-text h3 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: -50px;
}

.abt-txt h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 140px;
  line-height: 86%;
  /* identical to box height, or 86% */
  padding-top: 3%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

/* Banner Cards */

.banner-card {
  width: 100%;
  height: 300px;
  /* background-color: bisque; */
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banr-crd {
  width: 300px;
  height: 300px;
  /* background-color: #00a5c9; */
  padding: 0;
  margin: 0 25px;
}

.banr-crd img {
  width: 262px;
  height: 262px;
  opacity: 0.97;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banr-crd-txt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50.3855px;
  line-height: 76px;
  color: rgba(0, 165, 201, 1);
}

.banr-crd-txt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25.1928px;
  line-height: 38px;
  color: #ffffff;
}

/* Ribbon */

.ribbon {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.ribbon img {
  width: 200px;
  height: 38px;
}

/* Who we are */

.retail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/corporate/whoweare-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.retail-row {
  width: 100%;
  height: 750px;
}
.retail-col-left {
  height: 100%;
  width: 100%;
  /* background-color: rgb(104, 104, 119); */
}

.retail-images {
  height: 90%;
  width: 90%;
  position: relative;
  /* background-color: blue; */
  margin-bottom: 10px;
}

.retail-images .circles {
  height: auto;
  width: auto;
  position: absolute;

  bottom: 0px;
  right: 0;
}

.retail-images .retail-bag {
  max-height: 700px;
  width: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.retail-text {
  margin-left: 5%;
}

.retail-line {
  width: 100px;
  height: 2px;
  background-color: #00a5c9;
}

.retail-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 83px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.retail-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #ffffff;
}

.retail-text span {
  color: rgba(0, 165, 201, 1);
}

.retail-text p {
  max-width: 573px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

/* Wholesale */

.wholesale {
  width: 100%;
  height: auto;
  background-color: black;
  background-image: url("../images/corporate/whoweare-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wholesale-content {
  width: 100%;
  height: auto;
}

/* Our Wholesale Starts */

.wholesale-content-right {
  height: auto;
  width: auto;
  /* background-color: #00a5c9; */
  display: flex;
  align-items: center;
}

.wholesale-content-left {
  height: auto;
  width: auto;
}

.wholesale-text p {
  max-width: 474px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

.wholesale-text {
  margin-left: 10%;
  /* margin-top: 5%; */
  padding-top: 7%;
  /* background-color: #a4b4c3; */
}

.wholesale-line {
  width: 100px;
  height: 2px;
  background-color: #00a5c9;
}

.wholesale-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 83px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.wholesale-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #ffffff;
}

.wholesale-text span {
  color: rgba(0, 165, 201, 1);
}

.wholesale-text p {
  max-width: 85%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

/* Our Ecommerce Starts */

.ecommerce {
  width: 100%;
  height: auto;
  background-color: black;
  background-image: url("../images/business-sector/ecommerce-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ecommerce-content {
  width: 100%;
  height: auto;
}

.ecommerce-content-right {
  height: auto;
  width: auto;
  /* background-color: #00a5c9; */
  display: flex;
  align-items: center;
}

.ecommerce-content-left {
  height: auto;
  width: auto;
}

.ecommerce-text p {
  max-width: 474px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

.ecommerce-text {
  margin-left: 10%;
  /* margin-top: 5%; */
  padding-top: 7%;
  /* background-color: #a4b4c3; */
}

.ecommerce-line {
  width: 100px;
  height: 2px;
  background-color: #00a5c9;
}

.ecommerce-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 83px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.ecommerce-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #ffffff;
}

.ecommerce-text span {
  color: rgba(0, 165, 201, 1);
}

.ecommerce-text p {
  max-width: 85%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

/* Brands */

.brands-contents {
  width: 100%;
  height: auto;
  background-color: black;
}

.brands-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 70px;
  /* or 536% */

  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
}

.brands-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 74px;
  /* or 124% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}

.brands-text span {
  color: #00a5c9;
}

.brands-crds {
  width: 100%;
  height: auto;
  /* background-color: #a4b4c3; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 100px;
}

.brands-crd {
  width: 308px;
  height: 355px;
  background-color: black;
  background-image: url("../images/corporate/whychoseus-crd-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  margin: 10px;
}
.brands-crd-content {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands-crd-content img {
  width: 100%;
  height: auto;
  /* margin-bottom: 20px; */
}

.slidenav {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.slidebtns {
  width: 200px;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

.left-arrow {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  background-color: black;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.slidebtns .right-arrow {
  width: 70px;
  height: 70px;
  background-color: black;
  margin: 5px;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

/* .slidebtns a:hover {
} */

/* Connect With us */

.connect {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-crd-with-bg {
  width: 80%;
  height: auto;

  background-image: url("../images/corporate/connect-us-crd-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-crd-with-bg img {
  margin-bottom: 5%;
  margin-top: 7%;
}

.connect-crd-with-bg h2 {
  margin-bottom: 3%;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  /* identical to box height, or 112% */
  color: #ffffff;
}

.connect-crd-with-bg span {
  color: #00a5c9;
}

.connect-crd-with-bg p {
  margin-bottom: 2%;
  text-align: center;

  max-width: 872px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #ffffff;
}

.connect-crd-with-bg form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6%;
}

.connect-crd-with-bg input {
  margin-bottom: 10%;

  width: 326px;
  height: 48px;
  background: #3f4143;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  color: #ffffff;
}

.connect-crd-with-bg button {
  width: 250px;
  height: 62px;
  background: #00a5c9;
  backdrop-filter: blur(4.16792px);

  border-radius: 135.457px;
  margin-bottom: 10%;
}

/* Responsive */

@media only screen and (max-width: 1132px) {
  .navbar ul li a {
    font-size: 1.6vh;
  }

  .navbar ul li {
    padding: 0 20px;
  }

  .social img {
    padding: 3px;
  }
}

@media only screen and (max-width: 992px) {
  .social {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .hideme {
    display: none;
  }

  .navi-logo {
    margin-left: 1.5vh;
  }

  .heading h2 {
    font-size: 40px;
    margin: 0 1px;
  }

  .banner-text h3 {
    font-size: 40px;
    margin-top: -30px;
  }

  /* Banner Area */

  .home-banner {
    background-image: url("../images/business-sector/business-sector-banner-bg-mobile.webp");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }

  .banner-text {
    margin-top: 80px;
  }

  .abt-txt h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 53px;
    /* or 97% */

    text-align: center;

    color: #ffffff;
  }

  /* Banner Cards */

  .banner-card {
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .banr-crd {
    width: 120px;
    height: 120px;

    padding: 0;
    margin: 0 15px;
  }

  .banr-crd img {
    width: 120px;
    height: 120px;
    opacity: 0.97;
  }

  .banr-crd-txt h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: rgba(0, 165, 201, 1);
  }

  .banr-crd-txt p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
  }

  /* Ribbon  */

  .ribbon {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .ribbon img {
    width: 200px;
    height: auto;
    margin: 7px;
    overflow-x: hidden;
  }

  /* Retail */

  .retail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/corporate/whoweare-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
  }

  .retail-row {
    width: 100%;
    height: auto;
  }
  .retail-col-left {
    height: 360px;
    width: 360px;
    /* background-color: rgb(104, 104, 119); */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .retail-images {
    height: 100%;
    width: auto;
    padding-top: 20px;
    position: relative;
    /* background-color: blue; */
    margin: 10px 10px;
  }

  .retail-images .circles {
    height: 350px;
    width: 350px;
    position: absolute;

    top: 10px;
    right: 0;
  }

  .retail-images .retail-bag {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 10px;
    right: 0;
  }

  .retail-col-right {
    width: auto;
    height: auto;
    /* background-color: #1a5663; */
  }

  .retail-text {
    width: auto;
    height: auto;
    margin-left: 10%;
  }

  .retail-line {
    width: 100px;
    height: 2px;
    background-color: #00a5c9;
    margin-bottom: 0;
  }

  .retail-text h4 {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .retail-text h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .retail-text p {
    width: 315px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    max-width: 85%;
  }

  /* wholesale */

  .wholesale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wholesale-content-right {
    height: auto;
    width: auto;
    /* background-color: #00a5c9; */
    display: flex;
    align-items: center;
  }

  .wholesale-content-left {
    height: auto;
    width: auto;
  }

  .wholesale-text {
    margin-left: 10%;
  }

  .wholesale-line {
    width: 100px;
    height: 2px;
    background-color: #00a5c9;
  }

  .wholesale-text h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wholesale-text h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
  }

  .wholesale-text p {
    width: 315px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    max-width: 85%;
  }

  .wholesale-content-right {
    margin-top: 0;
    /* background-color: #00a5c9; */
  }

  /* wholesale */

  .ecommerce-content-right {
    height: auto;
    width: auto;

    display: flex;
    align-items: center;
  }

  .ecommerce-content-left {
    height: auto;
    width: auto;
  }

  .ecommerce-text p {
    max-width: 474px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 17.7119px;
    line-height: 31px;
    /* or 175% */

    color: #a4b4c3;
  }

  .ecommerce-text {
    margin-left: 10%;
  }

  .ecommerce-line {
    width: 100px;
    height: 2px;
    background-color: #00a5c9;
  }

  .ecommerce-text h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .ecommerce-text h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
  }

  .ecommerce-text span {
    color: rgba(0, 165, 201, 1);
  }

  .ecommerce-text p {
    width: 315px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  /* Brands */

  .brands-text h4 {
    font-size: 1rem;
  }

  .brands-text h2 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .brands-crds {
    margin-top: 50px;
  }

  .brands-crds .crd-hides {
    display: none;
  }

  /* Connect With Us */

  .connect-crd-with-bg {
    background-image: none;
  }

  .connect-crd-with-bg h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #00a5c9;
  }
  .connect-crd-with-bg p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
  }

  .connect-crd-with-bg input {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 220px;
    height: 40px;
    font-size: 12px;
    background: #3f4143;
    border-radius: 13.5688px;
  }

  .connect-crd-with-bg button {
    width: 130px;
    height: 35px;
    font-size: 12px;
    background: #00a5c9;
    backdrop-filter: blur(1.43618px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 50px;
  }
}
