@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
}

/* Home Banner */

.home-banner {
  width: 100%;
  height: auto;
  background-image: url("../images/corporate/banner/banner-bg-corporate.webp");
  background-color: rgb(231, 190, 190);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.heading h2 {
  text-align: center;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 10%;

  color: transparent;

  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.banner-text h3 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: -50px;
}

.abt-txt h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 140px;
  line-height: 86%;
  /* identical to box height, or 86% */
  padding-top: 3%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

/* Banner Cards */

.banner-card {
  width: 100%;
  height: 300px;
  /* background-color: bisque; */
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banr-crd {
  width: 300px;
  height: 300px;
  /* background-color: #00a5c9; */
  padding: 0;
  margin: 0 25px;
}

.banr-crd img {
  width: 262px;
  height: 262px;
  opacity: 0.97;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banr-crd-txt h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50.3855px;
  line-height: 76px;
  color: rgba(0, 165, 201, 1);
}

.banr-crd-txt p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25.1928px;
  line-height: 38px;
  color: #ffffff;
}

/* Ribbon */

.ribbon {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.ribbon img {
  width: 200px;
  height: 38px;
}

/* Who we are */

.whoweare {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/corporate/whoweare-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.whoweare-row {
  width: 100%;
  height: 750px;
}
.whoweare-col-left {
  height: 100%;
  width: 100%;
  /* background-color: rgb(104, 104, 119); */
}

.whoweare-images {
  height: 90%;
  width: 90%;
  position: relative;
  /* background-color: blue; */
  margin-bottom: 10px;
}

.whoweare-images .circles {
  height: auto;
  width: auto;
  position: absolute;

  bottom: 0px;
  right: 0;
}

.whoweare-images .shoes {
  height: auto;
  width: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.whoweare-text {
  margin-left: 5%;
}

.whoweare-line {
  width: 100px;
  height: 2px;
  background-color: #00a5c9;
}

.whoweare-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 83px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.whoweare-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #ffffff;
}

.whoweare-text span {
  color: rgba(0, 165, 201, 1);
}

.whoweare-text p {
  max-width: 573px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

/* Why chose us */

.whychoseus-contents {
  width: 100%;
  height: auto;
  background-color: black;

  background-image: url("../images/corporate/why-chose-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.whychoseus-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 70px;
  /* or 536% */

  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
}

.whychoseus-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 74px;
  /* or 124% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}

.whychoseus-text span {
  color: #00a5c9;
}

.whychoseus-crds {
  width: 100%;
  height: auto;
  /* background-color: #a4b4c3; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 100px;
}

.whychoseus-crd {
  width: 308px;
  height: 355px;
  background-color: black;
  background-image: url("../images/corporate/whychoseus-crd-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  margin: 10px;
}
.why-choseus-crd-content {
  height: auto;
  width: 100%;
}

.why-choseus-crd-content img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.why-choseus-crd-content h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  /* or 127% */

  color: #ffffff;
  margin-bottom: 20px;
}

.why-choseus-crd-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* or 147% */

  color: #a4b4c3;
}

/* Chairman Message */

.chairman-msg {
  width: 100%;
  height: auto;
  background-color: black;

  background-image: url("../images/corporate/chairman-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.chairman-msg-content {
  width: auto;
  /* background-color: #00a5c9; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.chairman-msg-content-left {
  width: auto;
  /* background-color: #ae087f; */
}

.chairman-msg-content-left h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 78px;
  /* or 427% */

  text-transform: uppercase;

  color: #ffffff;
  margin-left: 30px;
}

.chairman-msg-content-left h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 53.74px;
  line-height: 81px;
  /* or 151% */
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #ffffff;
  margin-left: 30px;
}

.chairman-msg-content-left span {
  color: #00a5c9;
}

.chairman-msg-content-left p {
  max-width: 442.94px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19.4164px;
  line-height: 34px;
  /* or 175% */

  color: #a4b4c3;
  margin-left: 30px;
}

.chairman-msg-content-right {
  width: auto;
  height: auto;
}

.chairman-msg-content-right img {
  /* max-width: 689px;
  height: auto; */
  margin-left: -60px;
}

/* Mission */

.ourmission {
  width: 100%;
  height: 100%;
  background-color: black;
}

.ourmission-content {
  width: 100%;
  height: auto;
  background-image: url("../images/corporate/mission-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ourmission-content-left {
  /* background-color: beige; */
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.ourmission-content-right {
  height: auto;
  width: auto;
  /* background-color: #00a5c9; */
}

.ourmission-text {
  margin-left: 10%;
  padding-top: 7%;
  /* background-color: #a4b4c3; */
}
.ourmission-line {
  width: 100px;
  height: 2px;
  background-color: #00a5c9;
}

.ourmission-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 83px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.ourmission-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #ffffff;
}

.ourmission-text span {
  color: rgba(0, 165, 201, 1);
}

/* Our Vision Starts */

.ourvision-content-right {
  height: auto;
  width: auto;
}

.ourvision-content-right {
  height: auto;
  width: auto;
  /* background-color: #00a5c9; */
}

.ourmission-text p {
  max-width: 474px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

.ourvision-text {
  margin-left: 10%;
  margin-top: 10%;
  padding-top: 7%;
  /* background-color: #a4b4c3; */
}

.ourvision-line {
  width: 100px;
  height: 2px;
  background-color: #00a5c9;
}

.ourvision-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 83px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.ourvision-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #ffffff;
}

.ourvision-text span {
  color: rgba(0, 165, 201, 1);
}

.ourvision-text p {
  max-width: 474px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.7119px;
  line-height: 31px;
  /* or 175% */

  color: #a4b4c3;
}

/* Awards */

.awards-contents {
  width: 100%;
  height: auto;
  background-color: black;
}

.awards-text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 70px;
  /* or 536% */

  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
}

.awards-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 74px;
  /* or 124% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}

.awards-text span {
  color: #00a5c9;
}

.awards-crds {
  width: 100%;
  height: auto;
  /* background-color: #a4b4c3; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 100px;
}

.awards-crd {
  width: 308px;
  height: 355px;
  background-color: black;
  background-image: url("../images/corporate/whychoseus-crd-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  margin: 10px;
}
.awards-crd-content {
  height: auto;
  width: 100%;
}

.awards-crd-content img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.awards-crd-content h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  /* or 127% */

  color: #ffffff;
  margin-bottom: 20px;
}

.awards-crd-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* or 147% */

  color: #a4b4c3;
}

/* Timeline */

.timeline-contents {
  width: 100%;
  height: auto;
  background-color: black;
}

.timeline-text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 74px;
  /* or 124% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}

.timeline-text span {
  color: #00a5c9;
}

.timeline-img {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  padding-bottom: 5%;
}

/* Connect With us */

.connect {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/our-showrooms/showrooms-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.connect-crd-with-bg {
  width: 80%;
  height: auto;

  background-image: url("../images/connect/connect-crd-bg-1440.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-crd-with-bg img {
  margin-bottom: 5%;
  margin-top: 7%;
}

.connect-crd-with-bg h2 {
  margin-bottom: 3%;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7vw;
  line-height: 56px;
  /* identical to box height, or 112% */
  color: #ffffff;
}

.connect-crd-with-bg span {
  color: #00a5c9;
}

.connect-crd-with-bg p {
  margin-bottom: 2%;
  text-align: center;

  max-width: 820px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #ffffff;
}

.connect-crd-with-bg form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6%;
}

.connect-crd-with-bg input {
  margin-bottom: 10%;

  width: 326px;
  height: 48px;
  background: #3f4143;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  color: #ffffff;
}

.connect-crd-with-bg button {
  width: 250px;
  height: 62px;
  background: #00a5c9;
  backdrop-filter: blur(4.16792px);

  border-radius: 135.457px;
  margin-bottom: 10%;
}

/* Responsive */

@media only screen and (max-width: 1132px) {
  .navbar ul li a {
    font-size: 1.6vh;
  }

  .navbar ul li {
    padding: 0 20px;
  }

  .social img {
    padding: 3px;
  }
}

@media only screen and (max-width: 992px) {
  .social {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .navi-logo {
    margin-left: 1.5vh;
  }

  .hideme {
    display: none;
  }

  .heading h2 {
    font-size: 40px;
    margin: 0 1px;
    overflow: hidden;
  }

  .banner-text h3 {
    font-size: 40px;
    margin-top: -30px;
    overflow: hidden;
  }

  /* Banner Area */

  .home-banner {
    width: 100%;
    height: auto;
    background-image: url("../images/corporate/corporate-banner-bg-mobile.webp");

    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }

  .banner-text {
    margin-top: 80px;
    overflow: hidden;
  }

  .abt-txt h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 53px;
    /* or 97% */

    text-align: center;

    color: #ffffff;
  }

  /* Banner Cards */

  .banner-card {
    width: 100%;
    height: auto;
    /* background-color: bisque; */
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .banr-crd {
    width: 150px;
    height: 150px;

    padding: 0;
    margin: 0 15px;
    overflow: hidden;
  }

  .banr-crd img {
    width: 150px;
    height: auto;
    opacity: 0.97;
  }

  .banr-crd-txt h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: rgba(0, 165, 201, 1);
    overflow: hidden;
  }

  .banr-crd-txt p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 23px;
    color: #ffffff;
    overflow: hidden;
  }

  /* Ribbon  */

  .ribbon {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .ribbon img {
    width: 200px;
    height: auto;
    margin: 7px;
    overflow-x: hidden;
  }

  /* Who we are */

  .whoweare {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/corporate/whoweare-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
  }

  .whoweare-row {
    width: 100%;
    height: 100%;
  }
  .whoweare-col-left {
    height: 100vw;
    width: 360px;
    /* background-color: #00a5c9; */
  }

  .whoweare-images {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    margin: 30px 10px 0px 10px;
  }

  .whoweare-images .circles {
    height: auto;
    width: auto;
    position: absolute;

    top: 10px;
    left: 0;
  }

  .whoweare-images .shoes {
    /* height: 350px;
    width: 350px; */
    position: absolute;
    top: 10px;
    right: 0;
  }

  .whoweare-col-right {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .whoweare-text {
    width: 100%;
    height: auto;
  }

  .whoweare-line {
    width: 60px;
    height: 1px;
    margin-right: 30px;
  }

  .whoweare-text h4 {
    font-size: 10px;
    margin-left: 0px;
  }

  .whoweare-text h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .whoweare-text p {
    max-width: 315px;
    font-size: 11px;
    line-height: 20px;
  }

  /* Why Chose Us */

  .whychoseus-crds {
    padding-bottom: 30px;
    margin-top: 50px;
  }
  .whychoseus-text h4 {
    font-size: 1rem;
  }

  .whychoseus-text h2 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .whychoseus-crds .crd-hides {
    display: none;
  }

  /* Chairman msg */

  .chairman-msg-content {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .chairman-msg-content-left {
    width: 100%;
    height: 100%;
  }
  .chairman-msg-content-left h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 44px;
    /* or 427% */
    text-transform: uppercase;

    color: #ffffff;
    margin-left: 40px;
    margin-top: 30px;
  }

  .chairman-msg-content-left h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    /* or 122% */
    max-width: 80%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-left: 40px;
  }

  .chairman-msg-content-left p {
    max-width: 300px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #a4b4c3;
    margin-left: 40px;
  }

  .chairman-msg-content-right {
    width: 100%;
    height: 100%;
  }

  .chairman-msg-content-right img {
    margin-left: 0px;
  }

  /* our mission*/

  .ourmission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ourmission-content {
    width: 100%;
    height: auto;
    /* background-color: #3582cf; */
  }

  .ourmission-content-left {
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ourmission-content-left img {
    margin-top: 20px;
  }

  .ourmission-text h4 {
    line-height: 50px;
  }

  .ourmission-text h2 {
    font-family: "Montserrat";

    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .ourmission-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 85%;
  }

  .ourvision-content-right {
    /* background-color: #00a5c9; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ourvision-text {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
  }

  .ourvision-text h2 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .ourvision-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  /* Awards */
  .awards-text h4 {
    font-size: 1rem;
  }

  .awards-text h2 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .awards-crds {
    margin-top: 50px;
  }

  .awards-crds .crd-hides {
    display: none;
  }

  /* Timeline */

  .timeline-text h2 {
    font-size: 30px;
    line-height: 40px;
  }

  /* Connect With Us */

  .connect-crd-with-bg {
    background-image: none;
  }

  .connect-crd-with-bg h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #00a5c9;
  }
  .connect-crd-with-bg p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
  }

  .connect-crd-with-bg input {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 220px;
    height: 40px;
    font-size: 12px;
    background: #3f4143;
    border-radius: 13.5688px;
  }

  .connect-crd-with-bg button {
    width: 130px;
    height: 35px;
    font-size: 12px;
    background: #00a5c9;
    backdrop-filter: blur(1.43618px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 46.6759px;
  }
}
