@media only screen and (max-width: 413px) {
  .navi-logo {
    margin-left: 1.5vh;
  }

  .heading h2 {
    font-size: 45px;
    margin: 0 1px;
  }

  .banner-text h3 {
    font-size: 55px;
    margin-top: -30px;
  }

  .tick-text .craftsman {
    display: none;
  }

  .tick-text .support {
    display: none;
  }

  /* Banner Area */

  .home-banner {
    width: 100%;
    height: 100%;
    background-image: url("/images/banner/home-banner-bg-mobile.webp");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }

  .banner-text {
    margin-top: 80px;
  }

  /* Banner Get Started Button Area */

  /* .get-started {
    width: 100%;
    height: 84px;
    margin-top: 15px;
  }

  .get-started-btn {
    width: 358px;
    height: 70px;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .gs-btn {
    width: 130px;
    height: 32px;
    border: none;
    border-radius: 50px;
    background-color: #00a5c9;
    color: black;
    margin-right: 20px;
  }

  .gs-btn-round {
    width: 43.96px;
    height: 43.96px;
  }

  /* Banner Cards */

  .banner-card {
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .banr-crd {
    width: 120px;
    height: 120px;

    padding: 0;
    margin: 0 15px;
  }

  .banr-crd img {
    width: 120px;
    height: 120px;
    opacity: 0.97;
  }

  .banr-crd-txt h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: rgba(0, 165, 201, 1);
  }

  .banr-crd-txt p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
  }
  */

  /* Ribbon  */

  .ribbon {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .ribbon img {
    width: 200px;
    height: auto;
    margin: 7px;
    overflow-x: hidden;
  }

  /* Who we are */

  /* who we are left */

  /* .hide-this {
    display: none;
  }

  .whoweare-left {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 0;
  }

  .circle-shoes {
    width: 90%;
    height: 90%;

    position: relative;
    margin-left: auto;
    margin-right: 0;
    margin-top: 5%;
    padding-left: 7%;
  }

  .circles {
    position: absolute;
    width: 90%;
    height: 90%;
  }

  .shoes {
    position: absolute;
    width: 90%;
    height: 100%;
    transform: rotate(-4deg);
  } */
}
