@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
}

/* Home Banner */

.home-banner {
  width: 100%;
  height: auto;
  background-image: url("../images/media/media-banner-bg-big.webp");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heading h2 {
  text-align: center;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 10%;

  color: transparent;

  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.banner-text h3 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: -50px;
}

.abt-txt h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 140px;
  line-height: 86%; /* corrected here */
  /* identical to box height, or 86% */
  padding-top: 6%;
  padding-bottom: 4%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

/* Banner Cards */

.banner-card {
  width: 100%;
  height: 300px;
  /* background-color: bisque; */
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banr-crd {
  width: 300px;
  height: 300px;
  /* background-color: #00a5c9; */
  padding: 0;
  margin: 0 25px;
}

.banr-crd img {
  width: 262px;
  height: 262px;
  opacity: 0.97;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banr-crd-txt h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50.3855px;
  line-height: 76px;
  color: rgba(0, 165, 201, 1);
}

.banr-crd-txt p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25.1928px;
  line-height: 38px;
  color: #ffffff;
}

/* Ribbon */

.ribbon {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.ribbon p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2vw;
  color: #000000;
  margin-bottom: 0 !important;
}

.ribbon span {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

/* Gallerys */

.gallery {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-contents {
  /* background-color: #094452; */
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.gallery-contents h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2vw;
  line-height: 7vw;
  overflow-x: hidden;

  color: #ffffff;
  overflow: hidden;
  margin-bottom: 30px;
  text-align: center;
}

.gallery-contents span {
  color: #00a5c9;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2vw;
  line-height: 7vh;
}

.filtr-tabs {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  padding: 0;
}
.filtr-tabs ul {
  list-style: none;
  padding: 0;
}

.filtr-tabs ul li {
  width: 100px;
  height: auto;
  text-decoration: none;
  margin: 5px 20px 5px 20px;
  background-color: transparent;
  border: 1px solid #00a5c9;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
}

.filtr-tabs .active {
  background-color: #00a5c9;
  border: 1px solid #00a5c9;
  color: black;
}

.filtr-tabs ul li:hover {
  background-color: #00a5c9;
  border: 1px solid #00a5c9;
  color: black;
}

.imgs-row {
  width: 90%;
  height: auto;
}

.imgs-colmn {
  width: 33.3%;
  height: auto;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 100%;
  height: auto;
}
.photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.hide {
  display: none;
}

/* Connect With us */

.connect {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/our-showrooms/showrooms-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.connect-crd-with-bg {
  width: 80%;
  height: auto;

  background-image: url("../images/connect/connect-crd-bg-1440.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-crd-with-bg img {
  margin-bottom: 5%;
  margin-top: 7%;
}

.connect-crd-with-bg h2 {
  margin-bottom: 3%;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 56px;
  /* identical to box height, or 112% */
  color: #ffffff;
}

.connect-crd-with-bg span {
  color: #00a5c9;
}

.connect-crd-with-bg p {
  margin-bottom: 2%;
  text-align: center;

  max-width: 820px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 4vh;
  color: #ffffff;
}

.connect-crd-with-bg form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6%;
}

.connect-crd-with-bg input {
  margin-bottom: 10%;

  width: 326px;
  height: 48px;
  background: #3f4143;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  color: #ffffff;
}

.connect-crd-with-bg input:hover {
  background-color: #5f6062;
  border: none;
}

.connect-crd-with-bg button {
  width: 15vw;
  height: auto;
  padding: 10px 0;
  background: transparent;
  border: 1px solid #00a5c9;
  color: #ffffff;

  margin-bottom: 10%;
  border-radius: 15px;
}

.connect-crd-with-bg button:hover {
  background-color: #00a5c9;
  border: 1px solid #00a5c9;
  color: black;
}

/* NEWS */

.news {
  width: 100%;
  height: auto;
  background-color: black;
}

.news-title {
  text-align: center;
  margin-top: 30px;
}

.news-title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 46.4938px;
  line-height: 58px;
  /* or 124% */
  color: #ffffff;
}

.news-title span {
  color: #00a5c9;
}

.news-articles {
  /* background-color: #00a5c9; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

.article {
  width: 24%;
  height: 240px;
  background-color: #000000;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 15px;
}

.slide1 {
  background-image: url("../images/media/news-img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
}
.slide2 {
  background-image: url("../images/media/news-img2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
}
.slide3 {
  background-image: url("../images/media/news-img3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
}

.article h4 {
  color: #ffffff;

  font-family: "Montserrat", sans-serif;
  margin-top: 50%;
  font-size: 1.5vw;

  margin-left: 20px;
}

/* Responsive */

@media only screen and (max-width: 1132px) {
  .navbar ul li a {
    font-size: 1.6vh;
  }

  .navbar ul li {
    padding: 0 20px;
  }

  .social img {
    padding: 3px;
  }
}

@media only screen and (max-width: 992px) {
  .social {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .hideme {
    display: none;
  }

  .navi-logo {
    margin-left: 1.5vh;
  }

  .heading h2 {
    font-size: 40px;
    margin: 0 1px;
  }

  .banner-text h3 {
    font-size: 40px;
    margin-top: -20px; /* change here for banner padding,margin */
  }

  /* Banner Area */

  .home-banner {
    width: 100%;
    height: 100%;
    background-image: url("../images/media/media-banner-bg-mobile.webp");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
  }

  .banner-text {
    margin-top: 90px;
    margin-bottom: 80px;
  }

  .abt-txt h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 53px;
    /* or 97% */

    text-align: center;

    color: #ffffff;
  }

  /* Banner Cards */

  .banner-card {
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .banr-crd {
    width: 120px;
    height: 120px;

    padding: 0;
    margin: 0 15px;
  }

  .banr-crd img {
    width: 120px;
    height: 120px;
    opacity: 0.97;
  }

  .banr-crd-txt h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: rgba(0, 165, 201, 1);
  }

  .banr-crd-txt p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
  }

  /* Ribbon  */

  .ribbon {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .ribbon p {
    font-size: 8vw;
  }

  .article {
    width: 100%;
    height: 240px;
    /* background-color: #064351; */
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 15px;
  }

  .slide1 {
    overflow: hidden;
  }

  /* Gallery */

  .gallery-contents h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    line-height: 9vw;
    overflow-x: hidden;
  }

  .gallery-contents span {
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    line-height: 9vw;
    overflow-x: hidden;
  }

  .filtr-tabs ul li {
    width: 60px;
    height: auto;
    text-decoration: none;
    margin: 5px 7px 5px 7px;
    font-size: 12px;
  }

  /* Connect With Us */

  .connect-crd-with-bg {
    background-image: none;
  }

  .connect-crd-with-bg h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #00a5c9;
  }
  .connect-crd-with-bg p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
  }

  .connect-crd-with-bg input {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 220px;
    height: 40px;
    font-size: 12px;
    background: #3f4143;
    border-radius: 13.5688px;
  }

  .connect-crd-with-bg button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    background: transparent;
    border: 1px solid #00a5c9;

    color: white;
  }

  .connect-crd-with-bg button:hover {
    background-color: #00a5c9;

    color: rgb(6, 6, 6);
  }
}
